@using Aminimanesh.Core.DTOs.HistoryDTOs
@model List<HistoryLineListItemDTO>

<div class="row">
    @foreach (var line in Model)
    {
        <!-- timeline series -->
        <div class="col col-12 col-md-6 col-lg-12 col-xl-6">
            <h4 class="main-section-heading">@line.Title</h4>
            @foreach (var history in line.Histories)
            {
                <!-- timeline -->
                <article class="timeline">
                    <span class="station beat"></span>
                    <div class="d-flex justify-content-between align-items-start flex-wrap">
                        <div class="heading">
                            <h5 class="mini-header">@history.Title</h5>
                            <p class="sub-italic">@history.Adjective</p>
                        </div>
                        <span class="inset-box date">@history.StartTime - @history.EndTime</span>
                    </div>
                    <p class="description">@history.Description</p>
                    @if (!string.IsNullOrEmpty(history.LinkAddress))
                    {
                        <a class="read-more-link primary-link" href="/doc/@history.LinkAddress">
                            @history.LinkLabel
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    }
                </article>
            }
        </div>
    }
</div>
